.About2 {
  height: 175vh;
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
}
.container1 {
  height: 130vh;
  display: flex;

  padding: 5%;
}
.container2 {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
