.ClosedBeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1d1e1e;
  background-image: url("/assets/closedbetaBackground.png");
  background-size: cover;
  position: relative;
  width: 100%;
  h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 140%;
    color: #ffffff;
    margin: 50px 0 0 0;
  }

  .beta-wrapper {
    display: flex;
    flex-direction: row;

    .col1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1;
      padding-left: 80px;

      h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
        color: #ffffff;
        margin: 48px 0 16px 0;
      }
      h3 {
        font-size: 18px;
        color: #edeef6;
        font-weight: 600;
        margin: 0 0 10px 0;
      }

      .desc-view {
        position: relative;
      }
      .desc::before {
        content: "";
        position: absolute;
        top: 0;
        width: 600px;
        height: 30px;
        background: linear-gradient(#1d1e1e, transparent);
      }

      .desc::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 600px;
        height: 30px;
        background: linear-gradient(transparent, #1d1e1e);
      }
      .desc {
        // margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 450px;
        overflow-y: scroll;
        width: 650px;
        padding: 25px 0;

        .introduction_textbox {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 14.5px 20.5px;
          width: 600px;
          border: 1px solid #b9c5d1;
          font-weight: 500;
          font-size: 15px;
          line-height: 140%;
          color: #edeef6;
          margin-bottom: 20px;
        }

        .content {
          margin: 15px 0;
          h3 {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: #ffffff;
            margin: 0 0 7px 0;
          }

          ul {
            margin: 0;
            padding: 0 0 0 20px;

            li {
              font-weight: 500;
              font-size: 16px;
              line-height: 140%;
              color: #edeef6;

              span {
                color: #AEFFC1;
              }
            }
          }
        }
      }

      .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%;

        z-index: 100;
        margin: 20px 0 100px 0;

        img {
          width: 58px;
          height: 58px;
        }

        button {
          background-color: transparent;
          width: 158px;
          height: 49px;
          border: 2px solid #58ff7d;
          border-radius: 999px;
          padding: 12px 22px;
          color: #aeffc1;
          margin: 0 24px;
          font-size: 16px;
          line-height: 140%;
          font-weight: 500;
          letter-spacing: -1;
        }

        button:hover {
          background-color: #58ff7d;
          color: #3C3D43;
        }
      }
    }

    .image {
      display: flex;
      flex-direction: column;
    }
  }
  .col2 {
    flex: 1;
    #app_example {
      width: 540px;
    }
  }
}
