.Marketplace {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.marketTitle {
  margin-bottom: 3;
  margin-top: 10px;
  margin-left: 15px;
  max-width: 90%;
  font-family: mechanical;
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.marketDesc {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 18px;
  max-width: 90%;
  font-size: 14px;
  color: #3c3d43;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

/* marginLeft: "15px",
            marginTop: 0,
            marginBottom: 0,
            lineHeight: "18px",
            maxWidth: "90%",
            fontSize: "14px",
            color: "#3C3D43", */
