.Roadmap {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 48px;
    line-height: 67.2px;
    font-family: 'mechanical-en';
    color: #ffffff;
    margin-bottom: 200px;
  }

  img {
    width: 87%;
  }
}
