body {
  margin: 0;
  overflow-y: hidden;
}
.outer {
  height: 100vh;
  overflow-y: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: absolute;
  width: 100%;
  background-color: aliceblue;
}
.logo {
  margin-left: 10px;
}
.lang {
  margin-right: 10px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tab {
  margin: 7px;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
}
.inner {
  height: 100vh;
  display: flex;
}
.intro {
  padding-top: 60px;
  height: 100vh;
  background-color: palegoldenrod;
}
.about {
  background-color: palegreen;
}
.roadmap {
  background-color: paleturquoise;
}
.marketplace {
  background-color: papayawhip;
}
.download {
  background-color: peachpuff;
}
